<div class="place">
  <%= content_tag heading_tag do %>
    <%= place.name %>
    <br>
    <small><%= fa_icon place.icon, text: place.type %></small>
  <% end %>

  <table class="table">
    <% unless place.awaiting_review? %>
    <tr>
      <th>State</th>
      <td><%= place.workflow_state.humanize %></td>
    </tr>
    <% end %>

    <tr>
      <th>Address</th>
      <td class="place-address" data-lat="<%= place.lat %>" data-lng="<%= place.lng %>">
        <p><%= place.address %></p>
      </td>
    </tr>

    <tr>
      <th>Contents</th>
      <td><%= render_place place %></td>
    </tr>

    <% if place.notes? %>
      <tr>
        <th>Notes</th>
        <td><%= place.notes %></td>
      </tr>
    <% end %>
  </table>

  <%= form_for place, url: admin_place_state_path(place) do |form| -%>
    <% place.current_state.events.keys.map(&:to_s).each do |event| %>
      <%= form.button event.humanize, value: event, class: event_button_class(event) %>
    <% end %>
  <% end -%>
</div>
