<div class="container" id="form">
  <%= simple_form_for @place do |f| %>

    <h2>2. Please add details</h2>
    <fieldset>
      <legend>Basic Details</legend>
      <%= f.input :name, autofocus: true, label: "#{@place.class}'s Name" %>
      <%= f.input :description %>
    </fieldset>

    <fieldset>
      <legend>Location</legend>
      <%= f.input :address, as: :string, input_html: { id: 'place_address' }, label: "#{@place.class}'s Address" %>
      <div id="geocomplete-map"></div>
      <%= f.input :lat, input_html: { id: 'place_lat' }, as: :hidden %>
      <%= f.input :lng, input_html: { id: 'place_lng' }, as: :hidden %>
    </fieldset>

    <fieldset>
      <legend>Contact Details</legend>
      <%= f.input :phone %>
      <%= f.input :url %>
    </fieldset>


    <h2>3. Anything else you'd like to add?</h2>

    <fieldset>
      <%= f.input :notes %>
    </fieldset>

    <%= f.submit "Submit #{@place.class} for Review", class: 'button' %>
  <% end %>

</div>
