<div class="container">
  <h1><%= link_to "Map", root_path %> / Add a Place</h1>

  <h2>1. What would you like to add to the map?</h2>

  <ul class="place-type-list">
    <li>
      <%= link_to new_place_path(type: "Contributor"), class: ('active' if @place.is_a?(Contributor)) do %>
        <%= fa_stacked_icon Contributor.icon, base: "square", text: 'Contributor' %>
        <p>Individuals, organisations or teams who are contributing to the ongoing R&D and development of the WikiHouse project.</p>
      <% end %>
    </li>

    <li>
      <%= link_to new_place_path(type: "Build"), class: ('active' if @place.is_a?(Build)) do %>
        <%= fa_stacked_icon Build.icon, base: "square", text: 'Build' %>
        <p>WikiHouse builds that are in one of the following stages; design, production, or completed projects.  </p>
      <% end %>
    </li>
  </ul>

  <% if params[:type] -%>
    <%= simple_form_for @place, url: places_path(type: params[:type]), as: :place do |f| %>
      <h2>2. Please add details</h2>

      <%= render "basic_fields", form: f %>
      <%= render "location_fields", form: f %>

      <h2>3. Anything else you'd like to add?</h2>
      <%= f.input :notes %>

      <%= f.button :submit, "Submit for review" %>
    <% end %>
  <% end -%>
</div>
